/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 2.2rem;
}
h3 {
	font-size: 2rem;
}
p {
	font-size: 1.5rem;
	line-height: 1.3;
	text-align: justify;
	max-width: 1140px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.3;
	font-weight: 600;
}
hr {
	background-color: #cca6c8;
	margin-block: 1rem;
}
.divider {
	height: 0.5rem;
	width: 20%;
	margin-inline: auto;
	background-color: #cca6c8;
	margin-bottom: 2rem;
}
.active {
	background-color: #cca6c8;
	border-radius: 4px;
	color: #fff;
	padding: 0.2rem 0.4rem;
}

section {
	margin-bottom: 2rem;
}
.nav-link {
	transition: all 0.3s ease-in;
}
.nav-link:focus {
	/* background-color: #cca6c8; */
	color: #cca6c8;
	border-bottom: 4px solid #cca6c8;
	padding: 0.5rem;
}
.nav-link:hover {
	border-bottom: 4px solid #cca6c8;
	padding-bottom: 0.5rem;
}
.hero {
	margin-top: 5rem;
	width: 98vw;
	max-width: 1600px;
	margin-inline: auto;
}
.hero-text {
	background-color: #cca6c8;
	color: #fff;
	margin-inline: auto;
	padding: 1rem;
	margin-bottom: 0.1rem;
}
.hero-text h1 {
	margin-bottom: 2rem;
	margin-inline: auto;
	padding-inline: 10rem;
	text-align: center;
}
.hero-text p {
	margin-inline: auto;
	padding-inline: 6rem;
	text-align: center;
}
.hero-text .divider {
	height: 0.5rem;
	width: 20%;
	margin-inline: auto;
	background-color: #fff;
	margin-bottom: 2rem;
}
.btn {
	padding: 0.5rem 1rem;
	background-color: #cca6c8;
	border: none;
	border-radius: 8px;
	outline: none;
	color: #fff;
	transition: all 0.3s ease-in;
}
.btn:hover {
	opacity: 0.7;
	/* background-color: #fff; */
	/* color: #cca6c8; */
}
.scroll-link {
	position: absolute;
	bottom: 1%;
	right: 1%;
	font-size: 2rem;
	color: #cca6c8;
	opacity: 0.6;
}
.home-subsection {
	position: relative;
	height: 30rem;
	background: url(../public/images/pexels-jsme-mila-523821574-18459193.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}
.home-subsection h4 {
	font-size: 2.8rem;
	color: #fff;
	text-shadow: 0 0 8px #66757f;
	text-align: center;
	margin-inline: auto;
	padding-block: 4rem;
	max-width: 700px;
	z-index: 20;
}
.home-subsection::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
}
.about-hero {
	/* height: 60vh; */
	margin-top: 5rem;
}
.about-img {
	height: 70vh;
	object-fit: cover;
	object-position: center;
}
.about-section {
	background-color: #cca6c8;
	padding: 3rem;
}
.about-section h2 {
	text-align: center;
	margin-bottom: 2rem;
	color: #fff;
}
.about-info {
	display: flex;
	gap: 3rem;
	justify-content: center;
	color: #fff;
	margin-inline: auto;
	margin-bottom: 2rem;
}
.about-info p {
	margin-inline: auto;
	/* padding-inline: 6rem; */
	text-align: justify;
	margin-bottom: 2rem;
}
.about-section .btn {
	display: flex;
	justify-content: center;
	align-items: center;
}
.faqs {
	width: 100%;
}
.faqs .section-title {
	text-transform: capitalize;
	text-align: center;
	background-color: #cca6c8;
	color: #fff;
	padding: 2rem;
}
.faqs-container {
	width: 80%;
	margin-inline: auto;
}
.accordion {
}
.accordion-details {
	margin-inline: auto;
	font-size: 1.5rem;
}
.services-header {
	margin-top: 5rem;
	background-color: #cca6c8;
	color: #fff;
	padding: 1rem;
	margin-bottom: 0.1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.services-section {
	width: 70%;
	margin-inline: auto;
	max-width: 1140px;
}
.services-header h1 {
	text-align: center;
	margin-bottom: 1rem;
}
.services-header p {
	margin-inline: auto;
	padding-inline: 6rem;
	text-align: center;
}
.services-header .divider {
	background-color: #fff;
}
.services-container {
	width: 100%;
	max-width: 1140px;
	margin-inline: auto;
}
.services-img {
	/* height: 50vh; */
	object-fit: cover;
	object-position: center;
}
.services-container h2 {
	margin-bottom: 1rem;
}
.services-container .divider {
	margin-inline: 0;
}
.single-service-header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.single-service {
	margin-bottom: 2rem;
}
.single-service-header-img {
	height: 25rem;
	object-fit: cover;
	object-position: center;
	border-radius: 10px;
}
.single-service h3 {
	margin-block: 1rem;
}
.footer-link a,
.social-link {
	transition: all 0.5s ease-in-out;
	padding-inline: 8px;
}
.footer-link a:hover,
.social-link:hover {
	opacity: 0.4;
	background-color: white;
	border-radius: 5px;
}
