/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
@media screen and (max-width: 768px) {
	html {
		/* overflow: hidden; */
	}
}
body {
	/* width: 100%; */
	margin-inline: auto;
	/* overflow-x: hidden; */
}
h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 2.2rem;
}
h3 {
	font-size: 2rem;
}
p {
	font-size: 1.5rem;
	line-height: 1.3;
	text-align: justify;
	max-width: 1140px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.3;
	font-weight: 600;
}
hr {
	background-color: #cca6c8;
	margin-block: 1rem;
}
a {
	text-decoration: none;
}
.divider {
	height: 0.5rem;
	width: 20%;
	margin-inline: auto;
	background-color: #cca6c8;
	margin-bottom: 2rem;
}
.active {
	background-color: rgb(204, 166, 200);
	border-radius: 4px;
	color: #fff;
	padding: 0.2rem 0.4rem;
}

section {
	margin-bottom: 1rem;
}
.section-center {
	width: 90%;
	margin: 0 auto;
	max-width: 1440px;
}
@media screen and (min-width: 992px) {
	.section-center {
		width: 95%;
	}
}
.navbar {
	/* background-color: #fff; */
	position: fixed;
	top: 0;
	/* left: 0;
	right: 0; */
	height: 4.8rem;
	width: auto;
	/* margin-bottom: 1rem; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* transition: all 1s ease-in; */
	/* boxShadow="md" */

	padding-right: 0.5rem;
	z-index: 999;
	width: 100%;
	background: linear-gradient(
		to right,
		rgb(255, 255, 255) 25%,
		/* rgb(249, 248, 250) 35%, */ rgb(204, 166, 200) 75%
	);
}
@media screen and (max-width: 768px) {
	.navbar {
		padding-right: 0;
		/* padding-top: 2rem; */
	}
}

.navbar .logo {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.navbar .logo h1 {
	font-size: 1.8rem;
	font-weight: 600;
	color: #51649f;
	margin-top: 0;
}
@media screen and (max-width: 700px) {
	.navbar .logo h1 {
		font-size: 1.3rem;
	}
}
@media screen and (max-width: 576px) {
	.navbar .logo h1 {
		font-size: 1rem;
	}
}
.nav-links {
	display: flex;
	gap: 3rem;
	/* color="#51649F" */
	color: fff;
	font-size: 1.2rem;
}
.nav-links li {
	list-style: none;
}
@media screen and (max-width: 1000px) {
	.nav-links {
		display: none;
	}
}
.nav-link {
	transition: all 0.3s ease-in;
}
.contact-link {
	/* background-color: #cca6c8;
	color: #fff; */
	color: #cca6c8;
	background-color: #fff;
	padding: 0.2rem 0.5rem;
	border-radius: 5px;
	transition: all 0.3s;
}
.contact-link:hover {
	opacity: 0.5;
	/* padding-bottom: 0.2rem; */
}
.contact-link:focus {
	border-bottom: 4px solid #fff;
	border-bottom: 4px solid #51649f;
	padding: 0.5rem;
}
.nav-link:focus {
	/* background-color: #cca6c8; */
	/* color: #cca6c8; */
	border-bottom: 4px solid #cca6c8;
	border-bottom: 4px solid #fff;
}
.nav-link:hover {
	border-bottom: 4px solid #fff;
	padding-bottom: 0.5rem;
}
.hero {
	margin-top: 5rem;
	width: 100%;
	margin-inline: auto;
}
.hero-text {
	background-color: #cca6c8;
	background-color: hsl(180, 100%, 90%);
	background-color: #f9f8fa;
	color: #fff;
	color: #cca6c8;
	color: #51649f;
	margin-inline: auto;
	padding: 1rem;
	margin-bottom: 1rem;
}
.hero-text h1 {
	max-width: 1100px;
	margin-bottom: 2rem;
	margin-inline: auto;
	padding-inline: 10rem;
	text-align: center;
}
@media screen and (max-width: 1000px) {
	.hero-text h1 {
		padding-inline: 5rem;
	}
}
@media screen and (max-width: 768px) {
	.hero-text h1 {
		padding-inline: 1rem;
		/* text-align: justify; */
		font-size: 2rem;
	}
	.hero-text .divider {
		display: none;
	}
}

.hero-text p {
	margin-inline: auto;
	/* padding-inline: 6rem; */
	width: 80%;
	max-width: 1440px;
	text-align: center;
}
@media screen and (max-width: 768px) {
	.hero-text p {
		width: 100%;
		/* text-align: justify; */
		padding-inline: 1rem;
	}
}
.hero-text .divider {
	height: 0.5rem;
	width: 20%;
	margin-inline: auto;
	background-color: #fff;
	background-color: #51649f;
	margin-bottom: 2rem;
}
.hero-image {
	/* width: auto;
	height: auto; */
	margin-bottom: 1rem;
}
.btn {
	padding: 0.5rem 1rem;
	background-color: #cca6c8;
	border: none;
	border-radius: 8px;
	outline: none;
	color: #fff;
	transition: all 0.3s ease-in;
}
.btn:hover {
	opacity: 0.7;
	/* background-color: #fff; */
	/* color: #cca6c8; */
}
.scroll-link {
	position: absolute;
	bottom: 1%;
	right: 1%;
	font-size: 2rem;
	color: #cca6c8;
	opacity: 0.6;
}
.home-subsection {
	position: relative;
	height: 30rem;
	background: url(../public/images/pexels-olly-3791664.webp);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}
.home-subsection h4 {
	font-size: 2.8rem;
	color: #fff;
	text-shadow: 0 0 8px #66757f;
	text-align: center;
	margin-inline: auto;
	padding-block: 4rem;
	max-width: 1000px;
	z-index: 20;
}
@media screen and (max-width: 768px) {
	.home-subsection h4 {
		font-size: 2.2rem;
		padding-inline: 1rem;
	}
}
.home-subsection::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 768px) {
	.live-in-services-header {
		width: 100%;
	}
	.live-in-services-header h2 {
		padding-inline: 1rem;
		font-size: 1.8rem;
		width: 100%;
	}
}
@media screen and (max-width: 1000px) {
	.live-in-services-container .single-service {
		flex-basis: 100%;
	}
}
.about-hero {
	margin-top: 5rem;
	width: 100%;
	height: 79vh;
}
@media screen and (max-width: 768px) {
	.about-hero {
		height: 50vh;
	}
}
.about-img {
	width: 100%;
	height: 100%;
}
.about-img .img {
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center;
	height: 100%;
}
.our-mission {
	/* padding-inline: 3rem; */
	/* padding-block: 2rem; */
	background-color: #f9f8fa;
	/* padding-bottom: 0.01rem; */
	text-shadow: 2px 2px 1px #cca6c8;
}
.our-mission h2 {
	text-align: center;
	margin-bottom: 1rem;
	color: #51649f;
}
.our-mission .divider {
	width: 7rem;
}
.mission {
	text-align: center;
	color: #fff;
	color: #51649f;
	margin-bottom: 2rem;
	padding: 1rem;
	margin-inline: auto;
}
.our-values {
	color: #51649f;
	padding-inline: 1rem;
	padding-block: 2rem;
}
.values-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 2rem;
	padding: 2rem;
}

.values .divider {
	width: 7rem;
}
.single-value {
	flex-basis: calc(50% - 2rem);
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
}
@media screen and (max-width: 576px) {
	.single-value {
		flex-basis: 100%;
	}
}
.single-value h3 {
	margin-bottom: 1rem;
}
/* .single-value p {
	text-align: center;
} */
.values h2 {
	text-align: center;
	margin-bottom: 1rem;
}
.our-caregivers {
	position: relative;
	height: 50rem;
	background: url(../public/images/pexels-kampus-7551667.webp);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.our-caregivers h2 {
	color: #fff;
	text-shadow: 0 0 8px #66757f;
	text-align: center;
	margin-inline: auto;
	padding-block: 2rem;
	max-width: 700px;
	z-index: 20;
}
.caregivers-info {
	position: relative;
	width: 90%;
	max-width: 1440px;
}
.caregivers p {
	color: #fff;
	text-shadow: 0 0 8px #66757f;
	text-align: center;
	margin-inline: auto;
	/* padding-block: 4rem; */
	z-index: 25;
}
.our-caregivers::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	z-index: 10;
}
.about-section {
	/* background-color: #f9f8fa; */
	padding: 3rem;
}
.about-section h2 {
	text-align: center;
	margin-bottom: 1rem;
	color: #51649f;
}
.about-info {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	justify-content: space-between;
	/* align-items: center; */
	color: #fff;
	color: #51649f;
	padding-inline: 1rem;
	margin-inline: auto;
	margin-bottom: 2rem;
}
.about-info p {
	flex-basis: calc(33% - 2rem);
	text-align: justify;
	/* margin-bottom: 2rem; */
}
@media screen and (max-width: 768px) {
	.about-info {
		justify-content: space-between;
	}
	.about-info p {
		flex-basis: calc(50% - 2rem);
	}
}
@media screen and (max-width: 576px) {
	.about-info p {
		flex-basis: 100%;
	}
	.about-info {
		gap: 1rem;
	}
}
.about-section .btn {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #cca6c8;
}
.about-section .btn:hover {
	color: #51649f;
}
.faqs {
	width: 100%;
}
.section-title h3 {
	margin-bottom: 1rem;
	/* text-transform: capitalize; */
}
.section-title .divider {
	background-color: #fff;
}
.faqs .section-title {
	text-align: center;
	background-color: #cca6c8;
	color: #fff;
	padding: 2rem;
}
@media screen and (max-width: 768px) {
	.faqs .section-title {
		padding: 1rem;
	}
}
.faqs .section-title p {
	max-width: 1440px;
	text-align: center;
	margin-inline: auto;
}
.faqs-container {
	width: 80%;
	margin-inline: auto;
}
@media screen and (max-width: 768px) {
	.faqs-container {
		width: 98%;
	}
}
.accordion {
}
.accordion-details {
	margin-inline: auto;
	font-size: 1.3rem;
	font-family: inherit;
}
.services-header {
	margin-top: 5rem;
	background-color: #cca6c8;
	background-color: #f9f8fa;
	color: #fff;
	color: #51649f;
	padding: 1rem;
	margin-bottom: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.services-section {
	width: 100%;
	margin-inline: auto;
	max-width: 1440px;
	padding-inline: 1rem;
}
.services-header .services-info {
}
.services-header h1 {
	width: 60%;
	text-align: center;
	margin-inline: auto;
	margin-bottom: 1rem;
}
.services-header p {
	margin-inline: auto;
	padding-inline: 6rem;
	text-align: center;
}
@media screen and (max-width: 768px) {
	.services-header h1 {
		width: 80%;
	}
	.services-header p {
		padding-inline: 3rem;
	}
}

.services-header .divider {
	background-color: #51649f;
}
.services-container {
	width: 100%;
	max-width: 1440px;
	margin-inline: auto;
}
.services-img {
	/* height: 50vh; */
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center;
}
.services-container h2 {
	margin-bottom: 1rem;
}
.services-container .divider {
	margin-inline: 0;
}
.single-service-header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.single-service {
	margin-bottom: 2rem;
	width: 100%;
}
.single-service-header-img {
	height: 25rem;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center;
	border-radius: 10px;
}
.single-service h3 {
	margin-block: 1rem;
}
.single-service p {
	max-width: 1440px;
}
.contact-hero {
	height: 80vh;
}
@media screen and (max-width: 768px) {
	.contact-hero {
		height: 50vh;
	}
}
.contact-image {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center;
}
.contact-container {
	width: 100%;
	padding: 0;
	overflow-x: hidden;
}
.contact-address {
	display: flex;
	/* gap: 1rem; */
	justify-content: space-between;
	padding: 0.5rem !important;
}
.contact-address .office-address,
.contact-address .form {
	flex-basis: 50%;
}
@media screen and (max-width: 900px) {
	.contact-address {
		flex-direction: column;
	}
	.contact-address .office-address,
	.contact-address .form {
		flex-basis: 100%;
	}
}
.contact-form {
	margin: 0;
}
.form-container {
	width: 100%;

	margin: 0 auto;
	/* padding: 1.25rem; */
	color: #cca6c8;
}
.contact-form input {
	/* text-align: center; */
	margin-bottom: 1.25rem;
	/* color: var(--clr-secondary-1); */
	font-weight: bold;
}
.form-container label {
	display: block;
	font-weight: bold;
}
.form-container input,
textarea {
	width: 100%;
	outline: none;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 1rem;
	resize: vertical;
}
.submit-button {
	padding: 10px 20px;
	border: none;
	color: white;
	border-radius: 4px;
	font-size: 1rem;
	cursor: pointer;
}
.map {
	padding-inline: 1rem;
}
.footer {
	/* overflow: hidden; */
	width: 100%;
}
.footer-link a,
.social-link {
	transition: all 0.5s ease-in-out;
	padding-inline: 8px;
}
.footer-link a:hover,
.social-link:hover {
	opacity: 0.4;
	background-color: white;
	border-radius: 5px;
}
